@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.aguadando-gif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 208px;

}

.aguardando {
    width: 620px;
    height: 208px;
}

.p-figura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif-text {
    text-align: center;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.gif {
    height: 208px;
    width: 100px;

}

.gif-espera {
    width: 145;
    height: 152.75px;
}

.compartilhe {
    font-family: 'Poppins';
    font-style: normal;
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
}

.chave-acesso {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 360px;
    height: 244px;
    align-items: center;
    justify-content: center;
    top: 370px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%), #5C6DE0;
    background-blend-mode: soft-light, normal;
    border-radius: 16px;
}


.chave-texto {
    display: flex;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(91, 26, 26, 0.14), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 1px 5px rgba(136, 13, 13, 0.2);
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 180px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #38469E;
    background-blend-mode: soft-light, normal;
    border-radius: 8px;
}

.chave-numero {
    position: absolute;
    top: 30%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    display: flex;
    align-items: center;
    letter-spacing: -0.050rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(91, 26, 26, 0.14), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 1px 5px rgba(136, 13, 13, 0.2);
}

.chave-botao {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 280px;
    height: 48px;
    bottom: 20%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FFAE02;
    background-blend-mode: soft-light, normal;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.copiar-chave {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(91, 26, 26, 0.14), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 1px 5px rgba(136, 13, 13, 0.2);
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}