* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(fundo.png);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pontos {
    text-align: center;
    color: white;
}