@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    border: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

body .emanuel-imagem {
    width: 100vw;
    height: 100%;
    z-index: 2;
}

.emanuel-imagem img {
    width: 100%;
    height: 100%;
}

.emanuel-main {
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.emanuel-main #emanuel-jogador {
    width: 910px;
    height: 220px;
}

.emanuel-main #emanuel-jogador img {
    width: 100%;
    height: 100%;
}

.emanuel-main #emanuel-lupa {
    width: 200px;
    height: 200px;
    text-align: center;
}

.emanuel-main #emanuel-lupa img {
    width: 100%;
    height: 100%;
    border-radius: 36px;
}
